In [44]:
import pandas as pd

In [45]:
data = pd.read_csv('Churn_Modelling.csv', index_col='RowNumber')

In [46]:
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1 to 10000
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  int64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              10000 non-null  int64
 6   Tenure           10000 non-null  int64
 7   Balance          10000 non-null  float64
 8   NumOfProducts    10000 non-null  int64
 9   HasCrCard        10000 non-null  int64
 10  IsActiveMember   10000 non-null  int64
 11  EstimatedSalary  10000 non-null  float64
 12  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1.1+ MB

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data['Geography'] = le.fit_transform(data['Geography'])

In [52]:
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [54]:
X = data.iloc[:, 2:12].values
y = data.iloc[:, 12].values

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [61]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [62]:
classifier = Sequential()
classifier.add(Dense(6, activation='relu', input_shape=(X_train.shape[1],)))
classifier.add(Dropout(0.1))
classifier.add(Dense(6, activation='relu'))
classifier.add(Dropout(0.1))
classifier.add(Dense(1, activation='sigmoid'))

In [64]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [65]:
history = classifier.fit(X_train, y_train, batch_size=32, epochs=100, validation_split=0.1, verbose=2)

Epoch 1/100
225/225 - 2s - loss: 3878.2063 - accuracy: 0.6469 - val_loss: 825.7422 - val_accuracy: 0.7400 - 2s/epoch - 7ms/step
Epoch 2/100
225/225 - 0s - loss: 1518.0176 - accuracy: 0.6488 - val_loss: 298.7147 - val_accuracy: 0.7462 - 324ms/epoch - 1ms/step
Epoch 3/100
225/225 - 0s - loss: 666.7378 - accuracy: 0.6865 - val_loss: 99.9786 - val_accuracy: 0.7425 - 312ms/epoch - 1ms/step
Epoch 4/100
225/225 - 0s - loss: 366.5717 - accuracy: 0.6831 - val_loss: 34.1452 - val_accuracy: 0.7025 - 310ms/epoch - 1ms/step
Epoch 5/100
225/225 - 0s - loss: 219.3277 - accuracy: 0.7044 - val_loss: 14.3319 - val_accuracy: 0.7325 - 338ms/epoch - 2ms/step
Epoch 6/100
225/225 - 0s - loss: 129.8479 - accuracy: 0.7378 - val_loss: 17.3185 - val_accuracy: 0.7850 - 325ms/epoch - 1ms/step
Epoch 7/100
225/225 - 0s - loss: 74.7170 - accuracy: 0.7621 - val_loss: 13.5798 - val_accuracy: 0.7950 - 338ms/epoch - 2ms/step
Epoch 8/100
225/225 - 0s - loss: 46.5589 - accuracy: 0.7776 - val_loss: 6.2197 - val_accuracy: 0.7937 - 327ms/epoch - 1ms/step
Epoch 9/100
225/225 - 0s - loss: 28.6532 - accuracy: 0.7794 - val_loss: 3.3553 - val_accuracy: 0.7875 - 307ms/epoch - 1ms/step
Epoch 10/100
225/225 - 0s - loss: 22.3881 - accuracy: 0.7850 - val_loss: 1.3338 - val_accuracy: 0.7750 - 292ms/epoch - 1ms/step
Epoch 11/100
225/225 - 0s - loss: 19.6162 - accuracy: 0.7861 - val_loss: 0.6464 - val_accuracy: 0.7912 - 302ms/epoch - 1ms/step
Epoch 12/100
225/225 - 0s - loss: 12.8762 - accuracy: 0.7879 - val_loss: 0.5739 - val_accuracy: 0.7962 - 298ms/epoch - 1ms/step
Epoch 13/100
225/225 - 0s - loss: 8.4158 - accuracy: 0.7900 - val_loss: 0.5334 - val_accuracy: 0.7950 - 287ms/epoch - 1ms/step
Epoch 14/100
225/225 - 0s - loss: 11.2657 - accuracy: 0.7896 - val_loss: 0.5231 - val_accuracy: 0.7738 - 293ms/epoch - 1ms/step
Epoch 15/100
225/225 - 0s - loss: 6.3809 - accuracy: 0.7910 - val_loss: 0.5483 - val_accuracy: 0.7950 - 295ms/epoch - 1ms/step
Epoch 16/100
225/225 - 0s - loss: 5.1612 - accuracy: 0.7896 - val_loss: 0.5139 - val_accuracy: 0.7950 - 293ms/epoch - 1ms/step
Epoch 17/100
225/225 - 0s - loss: 7.0974 - accuracy: 0.7924 - val_loss: 0.5191 - val_accuracy: 0.7950 - 360ms/epoch - 2ms/step
Epoch 18/100
225/225 - 0s - loss: 4.2625 - accuracy: 0.7931 - val_loss: 0.5212 - val_accuracy: 0.7950 - 405ms/epoch - 2ms/step
Epoch 19/100
225/225 - 0s - loss: 5.0118 - accuracy: 0.7935 - val_loss: 0.5070 - val_accuracy: 0.7912 - 347ms/epoch - 2ms/step
Epoch 20/100
225/225 - 1s - loss: 4.1319 - accuracy: 0.7931 - val_loss: 0.5185 - val_accuracy: 0.7950 - 524ms/epoch - 2ms/step
Epoch 21/100
225/225 - 0s - loss: 2.2019 - accuracy: 0.7931 - val_loss: 0.5177 - val_accuracy: 0.7950 - 368ms/epoch - 2ms/step
Epoch 22/100
225/225 - 0s - loss: 3.4439 - accuracy: 0.7940 - val_loss: 0.5217 - val_accuracy: 0.7950 - 387ms/epoch - 2ms/step
Epoch 23/100
225/225 - 0s - loss: 2.8895 - accuracy: 0.7956 - val_loss: 0.5218 - val_accuracy: 0.7950 - 335ms/epoch - 1ms/step
Epoch 24/100
225/225 - 0s - loss: 2.1846 - accuracy: 0.7940 - val_loss: 0.5231 - val_accuracy: 0.7950 - 315ms/epoch - 1ms/step
Epoch 25/100
225/225 - 0s - loss: 2.6794 - accuracy: 0.7937 - val_loss: 0.5486 - val_accuracy: 0.7950 - 304ms/epoch - 1ms/step
Epoch 26/100
225/225 - 0s - loss: 1.1197 - accuracy: 0.7942 - val_loss: 0.5110 - val_accuracy: 0.7950 - 307ms/epoch - 1ms/step
Epoch 27/100
225/225 - 0s - loss: 1.3628 - accuracy: 0.7946 - val_loss: 0.5088 - val_accuracy: 0.7950 - 310ms/epoch - 1ms/step
Epoch 28/100
225/225 - 0s - loss: 0.8478 - accuracy: 0.7942 - val_loss: 0.5088 - val_accuracy: 0.7950 - 306ms/epoch - 1ms/step
Epoch 29/100
225/225 - 0s - loss: 1.0404 - accuracy: 0.7947 - val_loss: 0.5065 - val_accuracy: 0.7950 - 306ms/epoch - 1ms/step
Epoch 30/100
225/225 - 0s - loss: 0.7692 - accuracy: 0.7962 - val_loss: 0.5238 - val_accuracy: 0.7950 - 307ms/epoch - 1ms/step
Epoch 31/100
225/225 - 0s - loss: 0.8731 - accuracy: 0.7942 - val_loss: 0.5137 - val_accuracy: 0.7950 - 332ms/epoch - 1ms/step
Epoch 32/100
225/225 - 0s - loss: 1.0501 - accuracy: 0.7946 - val_loss: 0.5078 - val_accuracy: 0.7950 - 341ms/epoch - 2ms/step
Epoch 33/100
225/225 - 0s - loss: 0.8672 - accuracy: 0.7947 - val_loss: 0.5072 - val_accuracy: 0.7950 - 292ms/epoch - 1ms/step
Epoch 34/100
225/225 - 0s - loss: 0.7498 - accuracy: 0.7954 - val_loss: 0.5075 - val_accuracy: 0.7950 - 298ms/epoch - 1ms/step
Epoch 35/100
225/225 - 0s - loss: 0.5896 - accuracy: 0.7947 - val_loss: 0.5109 - val_accuracy: 0.7887 - 284ms/epoch - 1ms/step
Epoch 36/100
225/225 - 0s - loss: 0.5528 - accuracy: 0.7958 - val_loss: 0.5076 - val_accuracy: 0.7950 - 295ms/epoch - 1ms/step
Epoch 37/100
225/225 - 0s - loss: 0.5780 - accuracy: 0.7949 - val_loss: 0.5229 - val_accuracy: 0.7937 - 287ms/epoch - 1ms/step
Epoch 38/100
225/225 - 0s - loss: 0.5845 - accuracy: 0.7951 - val_loss: 0.5068 - val_accuracy: 0.7950 - 308ms/epoch - 1ms/step
Epoch 39/100
225/225 - 0s - loss: 0.6161 - accuracy: 0.7951 - val_loss: 0.5074 - val_accuracy: 0.7950 - 281ms/epoch - 1ms/step
Epoch 40/100
225/225 - 0s - loss: 0.5707 - accuracy: 0.7957 - val_loss: 0.5103 - val_accuracy: 0.7950 - 284ms/epoch - 1ms/step
Epoch 41/100
225/225 - 0s - loss: 0.5382 - accuracy: 0.7950 - val_loss: 0.5068 - val_accuracy: 0.7950 - 281ms/epoch - 1ms/step
Epoch 42/100
225/225 - 0s - loss: 0.5440 - accuracy: 0.7954 - val_loss: 0.5068 - val_accuracy: 0.7950 - 417ms/epoch - 2ms/step
Epoch 43/100
225/225 - 0s - loss: 0.5583 - accuracy: 0.7958 - val_loss: 0.5075 - val_accuracy: 0.7950 - 307ms/epoch - 1ms/step
Epoch 44/100
225/225 - 0s - loss: 0.5311 - accuracy: 0.7960 - val_loss: 0.5071 - val_accuracy: 0.7950 - 302ms/epoch - 1ms/step
Epoch 45/100
225/225 - 0s - loss: 0.5209 - accuracy: 0.7957 - val_loss: 0.5223 - val_accuracy: 0.7950 - 308ms/epoch - 1ms/step
Epoch 46/100
225/225 - 0s - loss: 0.5190 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 386ms/epoch - 2ms/step
Epoch 47/100
225/225 - 0s - loss: 0.5062 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 432ms/epoch - 2ms/step
Epoch 48/100
225/225 - 0s - loss: 0.5060 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 420ms/epoch - 2ms/step
Epoch 49/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 295ms/epoch - 1ms/step
Epoch 50/100
225/225 - 0s - loss: 0.5054 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 357ms/epoch - 2ms/step
Epoch 51/100
225/225 - 1s - loss: 0.5068 - accuracy: 0.7960 - val_loss: 0.5073 - val_accuracy: 0.7950 - 566ms/epoch - 3ms/step
Epoch 52/100
225/225 - 0s - loss: 0.5059 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 396ms/epoch - 2ms/step
Epoch 53/100
225/225 - 1s - loss: 0.5058 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 505ms/epoch - 2ms/step
Epoch 54/100
225/225 - 1s - loss: 0.5059 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 541ms/epoch - 2ms/step
Epoch 55/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 296ms/epoch - 1ms/step
Epoch 56/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 402ms/epoch - 2ms/step
Epoch 57/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 374ms/epoch - 2ms/step
Epoch 58/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7960 - val_loss: 0.5072 - val_accuracy: 0.7950 - 370ms/epoch - 2ms/step
Epoch 59/100
225/225 - 0s - loss: 0.5061 - accuracy: 0.7960 - val_loss: 0.5073 - val_accuracy: 0.7950 - 433ms/epoch - 2ms/step
Epoch 60/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 339ms/epoch - 2ms/step
Epoch 61/100
225/225 - 0s - loss: 0.5059 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 277ms/epoch - 1ms/step
Epoch 62/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 351ms/epoch - 2ms/step
Epoch 63/100
225/225 - 0s - loss: 0.5059 - accuracy: 0.7960 - val_loss: 0.5072 - val_accuracy: 0.7950 - 314ms/epoch - 1ms/step
Epoch 64/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7960 - val_loss: 0.5072 - val_accuracy: 0.7950 - 434ms/epoch - 2ms/step
Epoch 65/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5074 - val_accuracy: 0.7950 - 404ms/epoch - 2ms/step
Epoch 66/100
225/225 - 0s - loss: 0.5054 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 349ms/epoch - 2ms/step
Epoch 67/100
225/225 - 0s - loss: 0.5085 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 297ms/epoch - 1ms/step
Epoch 68/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5072 - val_accuracy: 0.7950 - 323ms/epoch - 1ms/step
Epoch 69/100
225/225 - 0s - loss: 0.5062 - accuracy: 0.7958 - val_loss: 0.5072 - val_accuracy: 0.7950 - 295ms/epoch - 1ms/step
Epoch 70/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5070 - val_accuracy: 0.7950 - 287ms/epoch - 1ms/step
Epoch 71/100
225/225 - 0s - loss: 0.5176 - accuracy: 0.7954 - val_loss: 0.5073 - val_accuracy: 0.7950 - 283ms/epoch - 1ms/step
Epoch 72/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 287ms/epoch - 1ms/step
Epoch 73/100
225/225 - 0s - loss: 0.5055 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 281ms/epoch - 1ms/step
Epoch 74/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 303ms/epoch - 1ms/step
Epoch 75/100
225/225 - 0s - loss: 0.5055 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 372ms/epoch - 2ms/step
Epoch 76/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 293ms/epoch - 1ms/step
Epoch 77/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 288ms/epoch - 1ms/step
Epoch 78/100
225/225 - 0s - loss: 0.5054 - accuracy: 0.7960 - val_loss: 0.5072 - val_accuracy: 0.7950 - 288ms/epoch - 1ms/step
Epoch 79/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7960 - val_loss: 0.5073 - val_accuracy: 0.7950 - 283ms/epoch - 1ms/step
Epoch 80/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 284ms/epoch - 1ms/step
Epoch 81/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 298ms/epoch - 1ms/step
Epoch 82/100
225/225 - 0s - loss: 0.5054 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 278ms/epoch - 1ms/step
Epoch 83/100
225/225 - 0s - loss: 0.5058 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 300ms/epoch - 1ms/step
Epoch 84/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 276ms/epoch - 1ms/step
Epoch 85/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 276ms/epoch - 1ms/step
Epoch 86/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 306ms/epoch - 1ms/step
Epoch 87/100
225/225 - 0s - loss: 0.5054 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 305ms/epoch - 1ms/step
Epoch 88/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 293ms/epoch - 1ms/step
Epoch 89/100
225/225 - 0s - loss: 0.5055 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 288ms/epoch - 1ms/step
Epoch 90/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 284ms/epoch - 1ms/step
Epoch 91/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 345ms/epoch - 2ms/step
Epoch 92/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 311ms/epoch - 1ms/step
Epoch 93/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 334ms/epoch - 1ms/step
Epoch 94/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 320ms/epoch - 1ms/step
Epoch 95/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 320ms/epoch - 1ms/step
Epoch 96/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 313ms/epoch - 1ms/step
Epoch 97/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 327ms/epoch - 1ms/step
Epoch 98/100
225/225 - 0s - loss: 0.5056 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 304ms/epoch - 1ms/step
Epoch 99/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 299ms/epoch - 1ms/step
Epoch 100/100
225/225 - 0s - loss: 0.5057 - accuracy: 0.7961 - val_loss: 0.5073 - val_accuracy: 0.7950 - 439ms/epoch - 2ms/step

In [66]:
ypred = (classifier.predict(X_test) > 0.5).astype("int32")

63/63 [==============================] - 0s 2ms/step

In [68]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, ypred)
print(cm)

[[1595    0]
 [ 405    0]]

In [69]:
print(((cm[0][0] + cm[1][1])* 100) / len(y_test), '% of data was classified correctly')

79.75 % of data was classified correctly